header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    border: 2px solid #446f7a;
    padding: 8px;
    background-image: linear-gradient(#537895,#3b5b74);
    /* box-shadow: 3px 5px 10px #09203f; */
    color: rgb(152, 181, 189);
}

section{
    display: flex;
    flex-direction: column;
}

article{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 0;
}
article > div{
    width: 100%;
}

button{
    border-radius: 10px;
    padding: 5px;
}



.article-style{
    border: 1px solid gray;
}

.rounded{
    border-radius: 10px;
}

.spacing{
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

.spacing-art{
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    padding: 10px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.style-box{
    border: 1px thin #949da1;
    background-color: whitesmoke;
    color: darkgrey;
    box-shadow: 1px 5px 5px lightgrey;
}

.boton-header{
    background-color: #598bb1;
    padding: 6px;
    color: whitesmoke;
    height: fit-content;
    cursor: pointer;
    outline: none;
    font-size: large;
    border-radius: 25px;
    border: none;
}

@media(max-width: 800px){
    article{
        display: flex;
        flex-direction: column;
    }
    article > div{
    width: 77%;
}
}

